.mainContainer{
    font-size: 40px;
    text-align: center;
    color: black;
    margin-top: 20px;
}

.box{
    width:100px;
    height:100px;
    cursor: pointer;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.homeDV{
    text-align: left;
}