<div class="mainContainer">
    <p>My name is {{name}}</p>
    <button type="button" class="btn btn-primary" (click)="changeName()">Change my name</button>
</div>

<hr/>

<div *ngIf="num > 20">
    Number : {{num}}
</div>

<hr/>

<div class="row p-3">
    <div class="col-2">
        <div class="box red" *ngIf="colors.red"></div>
        <button type="button" class="btn btn-primary mt-2" (click)="changeColor('red')">Red</button>
    </div>
    <div class="col-2">
        <div class="box blue" *ngIf="colors.blue"></div>
        <button type="button" class="btn btn-primary mt-2" (click)="changeColor('blue')">blue</button>
    </div>
    <div class="col-2">
        <div class="box green" *ngIf="colors.green"></div>
        <button type="button" class="btn btn-primary mt-2" (click)="changeColor('green')">green</button>
    </div>
</div>


<hr/>

<div class="row p-3">
    <div class="col-1" *ngFor="let item of arr; let i=index">
        <div class="box p-3" [style.backgroundColor]="colorsArray[i]" (click)="changeValue(i)">{{item}} - {{i}}</div>
    </div>
</div>


<hr/>
    <div *ngFor="let item of arr">
        <span *ngIf="item >= 8">{{item}}</span>
    </div>
<hr/>


<div *ngFor="let user of users">
    {{user.name}} Details : 
    <div> Name : {{user.name}}</div>
    <!-- <div> Age : {{user.age}}</div>
    <div> Mail : {{user.mail}}</div> -->
    <hr/>
</div>