<!-- <p>api-page works!</p>
<div>{{t.num}}</div>
<button type="button" (click)="t.changeNumber(1)">+</button>
<button type="button" (click)="t.changeNumber(0)">-</button> -->

<div *ngFor="let user of t.users" class="row">
    <div class="col-8">{{user.name}}</div>
    <div class="col-2"><button type="button" (click)="t.filterPosts(user.id)">posts</button></div>
    <hr />
</div>
<hr/>

<div *ngFor="let post of t.filterPostsArray">
    <app-user-posts-card [componentPost]="post"></app-user-posts-card>
    <hr>
</div>