
<div class="container">
    <div class="row p-5">
        <div class="col-4">
                <div class="form-group">
                  <label for="exampleInputEmail1">Book Name</label>
                  <input type="text" name="b1" [(ngModel)]="bookService.selectedBook.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Book Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Pages Qnt</label>
                  <input type="text" [(ngModel)]="bookService.selectedBook.pagesQnt"  class="form-control" id="exampleInputPassword1" placeholder="Enter page Qnt">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Price</label>
                    <input [(ngModel)]="bookService.selectedBook.price"  type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter price">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Author</label>
                    <select [(ngModel)]="bookService.selectedBook.authorID"  class="form-control" id="exampleFormControlSelect1">
                      <option value="0">Select Author</option>
                      <option *ngFor="let author of bookService.authors" value="{{author.id}}">{{author.name}}</option>
                    </select>
                  </div>
                <button type="button" (click)="bookService.onSubmit()" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-8">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">name</th>
                    <th scope="col">Price</th>
                    <th scope="col">PageQnt</th>
                    <th scope="col">Author</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let book of bookService.books; let i=index">
                    <td>{{book.id}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.pagesQnt}}</td>
                    <td>{{bookService.getNameByid(book.authorID)}}</td>
                    <td> <button type="button" (click)="bookService.deleteBook(i)" class="btn btn-primary">Delete</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

